{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <h2 class="fw-bold text-family text-uppercase">Dashboard</h2>
        <hr/>
    </div>
    <div class="row">
        <h5 class="text-family"> Logged in as <span class="fw-bold">
            {{user.email}} </span></h5>
        <h6 class="text-family">Your membership status is 
            <span class="badge rounded-pill bg-success">#TODO: status</span>
        </h6>
    </div>

    <!-- end section -->
    <div class="row mt-5 row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center">
        
        <div class="col shadow-lg">
            <div class="card bg-dark">
                <div class="card-body text-center my-5">
                    <a href="#" class="btn btn-danger">Logout</a>
                </div>
            </div>
        </div> 
            
    </div>
    <hr/>
</div>
{% endblock %}