{% extends 'base.html' %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 chapter-list-scroll shadow-lg card bg-dark">
            <div class="mt-3 mb-5 list-group w-100">
                {% for chap in chapters %}
                <a href="{{chap.get_absolute_url}}" class="bg-dark text-light raise list-group-item d-flex justify-content-between align-items-start">
                    {{chap.chapter_number_in_course}}
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">{{chap.title}}</div>
                      Content for list item
                    </div>
                    <span class="rounded-pill fs-8" style="font-size:12px;">
                        <em class="bi-file-earmark-word">{{chap.content|wordcount}}</em> <br/>
                        <em class="bi bi-hourglass-split">{{chap.get_readtime}}</em>
                    </span>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-8 ms-5">
            <div class="row mt-4">
                <h3 class="text-family fw-bold text-center"> {{chapter.title}} </h3>
                <hr/>
            </div>
            <div class="row">
                {{chapter.content|safe}}
            </div>
        </div>
    </div>
</div>
{% endblock %}