{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <h1 class="text-family text-center text-uppercase fw-bold">{{course.heading}}</h1>
        <hr/>
    </div>
    <div class="row">
        <div class="col">
            {{course.description|safe}}
        </div>
        <div class="row mt-4">
            <h3 class="fw-bold text-family text-center mb-3">Chapters</h3>
            <div class="col d-flex justify-content-center w-75">
                <div class="list-group w-75">
                    {% for chap in chapters %}
                    <a href="{{chap.get_absolute_url}}" class="bg-dark text-light raise list-group-item d-flex justify-content-between align-items-start">
                        {{chap.chapter_number_in_course}}
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">{{chap.title}}</div>
                          Content for list item
                        </div>
                        <span class="rounded-pill fs-8" style="font-size:12px;">
                            <em class="bi-file-earmark-word">{{chap.content|wordcount}}</em> <br/>
                            <em class="bi bi-hourglass-split">{{chap.get_readtime}}</em>
                        </span>
                    </a>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}